{% load static %}
<nav class="navbar navigation shadow-sm" style="background: rgba(255,255,255,0.95); backdrop-filter: blur(10px); position: sticky; top: 0; z-index: 1000;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo-no-background.png' %}" alt="logo" style="height: 45px; width: auto;">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="tf-ion-android-menu" style="font-size: 25px;"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse text-center">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}" style="font-weight: 600;">Home</a></li>
                <li><a href="{% url 'shop' %}" style="font-weight: 600;">Shop</a></li>
                <li><a href="{% url 'favourites' %}"><i class="tf-ion-ios-heart-outline"></i></a></li>
                <li><a href="{% url 'cart' %}"><i class="tf-ion-android-cart"></i></a></li>
                <li class="dropdown">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown">Account <i class="tf-ion-ios-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'customer_dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'customer_logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'customer_login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>